brotli==1.0.9
cmarkgfm==0.7.0
ConfigParser==5.2.0
cryptography==36.0.1
Cython==0.29.27
disco==1.40.4
Django==4.0.2
dl==0.1.0
eventlet==0.33.0
geopandas==0.10.2
gevent==21.12.0
greenlet==1.1.2
HTMLParser==0.0.2
Image==1.5.33
ipython==8.0.1
ipywidgets==7.6.5
Jinja2==3.0.3
jnius==1.1.0
lockfile==0.12.2
lxml==4.7.1
matplotlib==3.4.2
numpy==1.19.5
ordereddict==1.1
ox_profile==0.2.6
pandas==1.4.0
Pillow==9.0.1
pluggy==1.0.0
protobuf==3.19.4
pudb==2022.1
pybuilder==0.13.4
PyContracts==1.8.12
pyOpenSSL==22.0.0
pytest==7.0.0
railroad==0.5.0
recommonmark==0.7.1
scikit_learn==1.0.2
seaborn==0.11.2
secretstorage==3.3.1
setuptools_scm==6.4.2
Shapely==1.8.0
simplejson==3.17.6
Sphinx==4.4.0
tensorflow==2.5.0
testsuite==0.1.2
toml==0.10.2
tornado==6.1
typing_extensions==3.7.4.3
unicodedata2==14.0.0
xmlrpclib==1.0.1
